@import 'semantic-ui-css/semantic.min.css';
.App {
    text-align: center;
}

.dont.huge.icon {
    width: 100%;
}

.trash.alternate.icon {
    float: right;
    margin-top: -1%;
}

.trash.alternate.icon:hover {
    cursor: pointer;
}

.ui.grid.access-denied {
    margin-top: 2rem;
}

.ui.cards>.card {
    margin-left: 2.1em;
}
